html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: rgb(41, 41, 41);
    padding-top: 30px;
    padding-bottom: 30px;
}

#footerPcontact {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

p {
    margin:0;
    padding:0;
}